<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.se">

    <application
        android:allowBackup="true"
        android:icon="@drawable/mmu"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SE">
        <activity
            android:name=".AddCommunity"
            android:exported="false" />
        <activity
            android:name=".AddQnA"
            android:exported="false" />
        <activity
            android:name=".QnA"
            android:exported="false" />
        <activity
            android:name=".Notice"
            android:exported="false" />
        <activity
            android:name=".GoingOutView"
            android:exported="false" />
        <activity
            android:name=".PointView"
            android:exported="false" />
        <activity
            android:name=".GoingOut"
            android:exported="false" />
        <activity
            android:name=".FindPw"
            android:exported="false" />
        <activity
            android:name=".FindId"
            android:exported="false" />
        <activity
            android:name=".Add"
            android:exported="false" />
        <activity
            android:name=".Community"
            android:exported="false" />
        <activity
            android:name=".Main"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>